name: "Testing workflows"

on:
  push:
    branches:
      - master

jobs:
  job_one:
    name: "Test file"
    runs-on: ubuntu-latest
    container:
      image: node:14.16
      env:
        NODE_ENV: development
      ports:
        - 80
      volumes:
        - /__w/github-action-playpen/github-action-playpen:/volume_mount/
      options: --cpus 1
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create file
        id: create
        run: echo "{}" > ./plan.json

      - name: List file
        run: ls -al && pwd

      - name: conftest step
        uses: addnab/docker-run-action@v3
        with:
          image: openpolicyagent/conftest:latest
          options: -v ${{ github.workspace }}:/volume_mount
          run: |
            pwd
            ls -al
            ls -al /volume_mount
            conftest test -o github ./plan.json
